<div class="jumbotron">
    <div id="unsecured" ng-if="!ctrl.identity">
        <h1>Secured Content</h1>
        <i class="fa fa-lock fa-5x"></i><br>
        <div class="lead">
           Please login
        </div>
    </div>
    <div id="secured" ng-if="ctrl.identity">
        <h1>hi {{ctrl.identity.firstname}}</h1>
        <div class="lead" ng-if="ctrl.user">
            <div><img class="img-circle" ng-src="{{ctrl.user.picture}}" alt="my pic" /></div>

            <div class="container">
                <h2>My Profile</h2>
                <ul class="list-group text-left">                    
                    <li class="list-group-item"><b>eMail:</b> {{ctrl.user.username}}</li>
                    <li class="list-group-item"><b>FirstName:</b> {{ctrl.user.firstname}}</li>
                    <li class="list-group-item"><b>Last Name:</b> {{ctrl.user.lastname}}</li>
                    <li class="list-group-item"><b>Likes :</b> {{ctrl.user.likes}}</li>
                </ul>               
            </div>                      
        </div>    
    </div>    
 </div>
<div ng-include="'views/_toolbar.html'"></div>